/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Novo CSS
-------------------------------------------------- */
/* Nav Menu */

.brand-link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 1.8125rem .5rem;
    transition: width .3s ease-in-out;
    white-space: nowrap;
}

/* Nav Menu Fim */

/* Top Menu */

.loginbutton {
    display: block;
    padding: .5rem 1rem;
    background-color: #5cbeea;
    color: #fff;
    border-radius: 5px;
}


/* Fim Top Menu */

/* Content Home */

@media (min-width: 576px) {
    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 40%;
    }
}

.card-title {
    float: left;
    font-size: 1.4rem;
    font-weight: 800;
    margin: 0;
    padding-left: 0;
}

img .card-img-top {
    width: 95%;
    padding-left: 5%;
}

.btn-primary {
    color: #ffffff;
    background-color: #5cbeea;
    border-color: #5cbeea;
    display: block;
}

.quemsomos {
    padding: 2%;
}

.row.no-gutters {
    background: #fff;
}

/* Fim Content Home */

/* Página Detalhes */

.detalhenome {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    display: block;
}
.imgteste {
    width: 450px;
    height: 180px;
}
.btn{
    margin:5px 5px;
    height:40px;
}
.jumbotron{
    padding-top:10px;
}
.detalheapto {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    display: block;
}

.detalhemedicao {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    display: block;
}

.col-lg-4.um {
    padding: 1%;
}

.col-lg-4.dois {
    padding: 1%;
}

.col-lg-4.tres {
    padding: 1%;
}



/* Fim Novo CSS
-------------------------------------------------- */




/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
@media (max-width: 420px) {
    .imgdetalhe {
        width: 290px;
        text-align: left;
    }

    .textocel {
        display: block;
    }

    .textobemvindo {
        display: none;
    }
}

@media print {
    .bntFilto {
        display: none;
    }
}
