@model AdminLTE.MVC.Areas.Identity.Controllers.UserControllers.InputModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="~/Home">
                <img src="~/img/Nova-Logo-AcquaXdoBrasil.png" width="100%" />
                <img src="~/img/logo.png" />
            </a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <form method="post">
                    <h4>Alteração de cena</h4>
                    <hr />

                    <div class="form-group">
                        <label asp-for="OldPassword">Senha</label>
                        <input asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword">Confirmar Senha</label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Alterar senha</button>
                </form>
                <!-- Botão Login Facebook e Google+ -->
                <a href="Login" class="text-center">Você já tem uma conta? Clique Aqui</a>
            </div>
        </div>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
