
<div class="dropdown">

    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <a asp-controller="Condominio" asp-action="Index">Selecionar condominio</a>
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var item in Model)
        {
            <a asp-area="Admin" asp-controller="blocos" asp-action="Index">@item.n </a>
        }


    </div>
</div>